<div class="card flex justify-content-center w-full">
    <span class="p-float-label w-full" *ngIf="!showIcon">
      <input
        class="w-full"
        pInputText
        [formControl]="controlValue"
        (ngModelChange)="sendValue()"
      />
      <label>{{ label }}</label>
    </span>
    <span class="p-float-label p-input-icon-left w-full" *ngIf="showIcon">
      <i [class]="icon"></i>
      <input
        class="w-full"
        pInputText
        [formControl]="controlValue"
        (ngModelChange)="sendValue()"
      />
      <label>{{ label }}</label>
    </span>
  </div>